// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}
/*
 * FxJ styles
 *
 ********************/
// container-fluid
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.container-content {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1160px;
}

// Site branding.
.logo {
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 160px;

  img {
    width: 100%;
  }
}

.navbar-text {
  clear: both;
  float: none;
  font-size: 11px;
  font-weight: 300;
  margin-left: 0;

  @extend .sr-only;// hide slogan on the screen
}

// Main nav.
.navbar-fixed-top {
    background-color: white;
    border: 0;

    -webkit-box-shadow: -1px 4px 29px 5px hsla(0,0%,68%,.28);
    box-shadow: -1px 4px 29px 5px hsla(0,0%,68%,.28);
}
body.navbar-is-fixed-top {
    margin-top: 90px;
}
.navbar-default .navbar-nav > li > a {
  color: $gray-dark;

  &:hover {

  }
}

@media (max-width: $screen-sm-min) {
  .navbar-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
  }
}

@media (min-width: $screen-sm-min) {
  #navbar-collapse {
    position: relative;
  }
  .navbar-header {
    position: relative;
    z-index: 1;
  }
  .region-navigation-collapsible {
    position: absolute;
    bottom: -5px;
    right: 0;
  }
  #block-fxj-main-menu,
  #block-fxj-search,
  #block-donatebutton {
    display: inline-block;
  }
  #block-fxj-main-menu {
    color: $gray-dark;
    font-size: 18px;

    li {
      margin-left: 1px;
      a {
        border-bottom: 5px solid white;
        color: $gray-dark;
        outline: 0;

        -webkit-transition: border-color .2s linear .2s;
        transition: border-color .2s linear .2s;

        &:hover,
        &:focus {
          color: $gray-dark;
          border-color: $brand-tertiary;
        }
      }

      &.active {
        a {
          border-color: $brand-tertiary;
          color: $gray-dark;
        }
      }
    }
  }
  #block-donatebutton {
    margin: 0 20px;
  }
  #block-fxj-search {
    width: 200px;
  }
}

// Search block
#block-fxj-search {
  .input-group{
    border-bottom: 1px solid $gray;
  }
  .form-search {
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: $gray;
  }
  .form-submit {
    background-color: white;
    border: 0;
    border-radius: 0;
    color: $gray;
  }
}

// Donate button.
.btn-donate {
  @include button-variant($btn-donate-color, $btn-donate-bg, $btn-donate-border);
}
#block-donatebutton {
  vertical-align: top;
  .block-title {
    @extend .sr-only;
  }
  .btn-donate {
    font-size: 18px;
    border-radius: 26px;
  }
}

// Footer.
.footer {
  background-color: $brand-quaternary;
  font-weight: 300;
  padding-top: 0;
  padding-bottom: 0;

  .nav > li {
    display: inline-block;
    & > a {
      background-color: $brand-quaternary;
      color: white;

      i {
        margin-right: 5px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  #block-languagedropdownswitcher {
    float: left;
    margin-right: 15px;

    .form-control {
      background-color: $brand-quaternary;
      border: 1px solid white;
      border-radius: 0;
      border-width: 0 0 1px 0;
      color: white;
      height: auto;
      margin-top: 3px;
      padding: 6px 0;
    }

    .select-wrapper:after {
      color: white;
      content: '▾';
    }
  }

}
@media (max-width: $screen-sm-min) {
  .footer .nav > li > a {
    width: 40px;
    overflow: hidden;
    height: 40px;

    i {
      width: 25px;
      height: 25px;
    }
  }
}
// Maxi footer
.maxi-footer {
  background-color: $gray-dark;
  border-top: 1px solid white;
  color: white;
  font-weight: 300;

  strong {
    font-weight: 600;
  }

  .block {
    @extend .col-md-3;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  a {
    color: white;
  }

  .block-title {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
  }

  // custom blocks
  #block-copyright,
  #block-logomonograma{
    .block-title {
      @extend .sr-only;
    }
  }

  //logo monograma
  #block-logomonograma {
    img {
      height: 150px;
    }
  }

  .field--name-mail .form-type-email{
    position: relative;

    label {
      bottom: 10px;
      font-family: 'Font Awesome 5 Free';
      font-weight: 400;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      margin-bottom: 0;
      text-rendering: auto;
      line-height: 1;
      overflow: hidden;
      position: absolute;
      width: 14px;

      &:before {
        content: "\f0e0";
      }
      &:after {
        display: none;
      }
    }
  }

  .field--name-mail input {
    color: white;
    background-color: $gray-dark;
    border-color: white;
    border-width: 0 0 1px 0;
    border-radius: 0;
    padding-left: 26px;

    &:focus {
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  #edit-subscribe{
    bottom: 20px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    margin-bottom: 0;
    text-rendering: auto;
    line-height: 1;
    overflow: hidden;
    position: absolute;
    width: 34px;
    height: 34px;
    padding:0;
    margin:0;

    border: 1px solid white;
    border-radius: 17px;
    font-size: 14px;
    color: white;
    background-color: $gray-dark;

    &:before {
      content: "\f054";
      padding: 0 13px;
    }
  }

  #edit-mail-wrapper {
    padding: 5px 10px 0 0;
    margin: 0;
    display: inline-block;
    width: calc(100% - 34px);
    float: left;
  }
  #edit-actions--2 {
    display: inline-block;
    float: left;
  }
  #edit-subscriptions-wrapper {
    margin: 0;
  }
  #edit-message {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
  }
}

// footer stuff trick investigating
@media (min-width: $screen-md-min) {
  .maxi-footer {
    position: fixed;
    z-index: -1;
    height: 200px;
    width: 100%;
    bottom: 0;
  }
  .main-container {
    background-color: white;
  }
  .footer {
    margin-bottom: 200px;
  }
  .js {
    .main-container {
      &.relative{
        margin-bottom: 0;
      }
      &.fixed {
        margin-bottom: 40px;
      }
    }

    .footer {

      &.relative{
        position: relative;
      }
      &.fixed{
        bottom: 0;
        height: 40px;
        margin-bottom: 0;
        position: fixed;
        width: 100%;
      }
    }
  }
}
