// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

// Site branding.
.logo {
  width: 160px;

  img {
    width: 100%;
  }
}

.navbar-text {
  clear: both;
  float: none;
  font-size: 11px;
  font-weight: 300;
  margin-left: 0;

  @extend .sr-only;
}

// Main nav.
@media (min-width: $screen-sm-min) {
  .region-navigation-collapsible {
    text-align: right;

    #block-fxj-main-menu,
    #block-fxj-search,
    #block-donatebutton {
      display: inline-block;
    }
    #block-fxj-main-menu {
      color: $gray-dark;
      font-size: 18px;
    }
    #block-donatebutton {
      margin: 0 20px;
    }
    #block-fxj-search {
      width: 200px;
    }
  }
}

// search
#block-fxj-search {
  .input-group{
    border-bottom: 1px solid $gray;
  }
  .form-search {
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: $gray;
  }
  .form-submit {
    background-color: white;
    border: 0;
    border-radius: 0;
    color: $gray;
  }
}

#block-donatebutton {
  vertical-align: top;
  .block-title {
    @extend .sr-only;
  }
  .btn-donate {
    font-size: 18px;
    border-radius: 26px;
  }
}
@media (max-width: $screen-sm-min) {
  .navbar-toggle {
    position: absolute;
    top: 0;
    right: 0;
  }
}
// Donate button.
.btn-donate {
  @include button-variant($btn-donate-color, $btn-donate-bg, $btn-donate-border);
}

// footer
.footer{
  background-color: $brand-quaternary;
  padding-top: 0;
  padding-bottom: 0;

  .nav > li > a {
    background-color: $brand-quaternary;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }

}
@media (min-width: $screen-sm-min) {
  .nav > li {
    display: inline-block;
  }
}

// Maxi footer
.maxi-footer{
  background-color: $gray-dark;
  color: white;


  .block {
    @extend .col-md-3;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  a {
    color: white;
  }

  .block-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
  }

  // sr only
  #block-copyright,
  #block-logomonograma {
    .block-title {
      @extend .sr-only;
    }
  }

  #block-logomonograma {
    img {
      height: 170px;
    }
  }
}
