.path-frontpage {
  .container-content {

  }
}
.view-frontpage {
  @extend .row;
  .views-row {
    @extend .col-md-3;
  }
  .views-field-title{
    @extend h3;
    background-color: $brand-primary;
    margin: 0 0 5px 0;
    padding: 10px;

    a {
      text-decoration: none;
      color: white;
      display: block;
      font-size: 14px;
      font-weight: 300;
    }
  }
}
