/*
 * FxJ styles
 *
 ********************/
// container-fluid
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.container-content {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1160px;

}
@import "typo";
@import "nav-bar";
@import "footers";
@import "views";
@import "slider";
@import "collaborate";
