h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
}
.h2--separator {
  position: relative;
  z-index: 1;

  &:before {
        border-top: 1px solid $gray-dark;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
    }

  span {
    background-color: white;
    display: inline-block;
    padding-right: 5px;
  }


}
